<button class="md:hidden focus:outline-none focus:shadow-outline-cyan"
  data-controller="toggle_sidebar_btn" data-action="click->toggle_sidebar_btn#toggleSidebar"
>
  <i class="fa-solid fa-sliders"></i>
</button>
