<div class="field">
  <%= f.label :email, class: 'block mb-2 text-gray-700 dark:text-white' %>
  <%= f.email_field :email, autofocus: true, class: 'block w-full mt-1 px-3 py-2 dark:border-gray-600 dark:bg-gray-700 border rounded-md border-cyan-700 focus:outline-none dark:text-gray-300 form-input' %>
</div>
