<div class="field">
  <%= f.email_field :email,
    placeholder: :email,
    class: 'block w-full mt-1 px-2 py-1 dark:bg-gray-700 border rounded-md border-gray-200 dark:border-gray-600 focus:outline-none dark:text-gray-300 form-input'
  %>
</div>
