<div class="field flex gap-4">
  <label class='flex w-full mt-1 px-2 py-1 dark:bg-gray-700 border rounded-md border-gray-200 dark:border-gray-600 focus:outline-none form-input'>
    <%= f.radio_button(:gender, "Male") %>
    <span class="ml-2 text-gray-400">Male</span>
  </label>

  <label class='flex w-full mt-1 px-2 py-1 dark:bg-gray-700 border rounded-md border-gray-200 dark:border-gray-600 focus:outline-none form-input'>
    <%= f.radio_button(:gender, "Female") %>
    <span class="ml-2 text-gray-400">Fe-male</span>
  </label>

  <label class='flex w-full mt-1 px-2 py-1 dark:bg-gray-700 border rounded-md border-gray-200 dark:border-gray-600 focus:outline-none form-input'>
    <%= f.radio_button(:gender, "Other") %>
    <span class="ml-2 text-gray-400">Other</span>
  </label>
</div>
