<div class="field">
  <%= f.label (props[:label] || props[:name]), class: 'block mb-2 text-gray-700 dark:text-white' %>
  <% if @minimum_password_length && props[:name] == :password %>
    <em class='text-gray-700 dark:text-white'>(<%= @minimum_password_length %> characters minimum)</em><br />
  <% end %>
  <%= f.password_field props[:name], class: 'block w-full mt-1 px-3 py-2 dark:border-gray-600 dark:bg-gray-700 border rounded-md border-cyan-700 focus:outline-none dark:text-gray-300 form-input' %>
</div>
